<html>
  <head>

  </head>
  <body>

    <div class="well">
      <h2>Service Registration Complete</h2>
      <p>Thanks for registering your service. The AAF team will review it and give final approval.</p>
      <p>Once approved, the AAF will <strong>email you</strong> at <em><%= session[:subject][:mail] %></em> with a unique URL to allow your service to connect to AAF Fuse.</p>
    </div>

    <p>If it has been more than 2 business days since you registered your service please contact <a href="mailto:support@aaf.edu.au?subject=Fuse Registration Query">support@aaf.edu.au</a> for a progress update.</p>
  </body>
</html>
