<html>
  <head>
  </head>
  <body>
    <h2>Service Registration</h2>

    <form method="post" action="/registration/save" class="form form-horizontal validate">

      <div class="control-group">
        <label class="control-label" for="name">Organisation</label>
        <div class="controls">
          <div class="span5">
            <select id="orgselect" name="organisation" class="span5 required">
              <option></option>
              <% @organisations.each { |org| %>
                <option value='<%= org %>'><%= org %></option>
              <% } %>
            </select>
          </div>
          <div class="span4 help-block">
            <p>
              The Tuakiri registered organisation which is sponsoring this service. If your organisation does not appear here please <strong>STOP registration</strong> and <a href="mailto:support@tuakiri.ac.nz?subject=My organisation is not shown in Rapid Connect">contact Tuakiri support</a> for more details.
            </p>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <div class="span5">
            <input type="text" name="name" class="span5 required" placeholder="Our Web Application">
          </div>
          <div class="span4 help-block">
            <p>
              A descriptive name for your service.
            </p>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="audience">URL</label>
        <div class="controls">
          <div class="span5">
            <input type="text" name="audience" class="span5" placeholder="https://application.com">
          </div>
          <div class="span4 help-block">
            <p>
              The primary URL of your application. This will be provided to you in the JWT aud field.
            </p>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="endpoint">Callback URL</label>
        <div class="controls">
          <div class="span5">
            <input type="text" name="endpoint" class="span5 required" placeholder="https://application.com/auth/jwt">
          </div>
          <div class="span4 help-block">
            <p>
              The secure URL within <strong>your application</strong> that Tuakiri Rapid Connect should POST responses to.
            </p>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="secret">Secret</label>
        <div class="controls">
          <div class="span5">
            <input type="text" name="secret" class="span5 required">
          </div>
          <div class="span4 help-block">
            <p>
              Must be random and securely stored by the service. This value should never be publicly disclosed and is used by the service to verify signed tokens from Tuakiri Rapid Connect.
            </p>
            <p>
              <strong>Recommended Generation Method</strong><br>
              <code>openssl rand -base64 24</code>
            </p>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-info">Register Service</button>
        <a href="/" class="btn">Cancel</a>
      </div>

    </form>
  </body>
</html>
