issuer: 'https://rapid.example.org'
hostname: 'rapid.example.org'
status_disabled_file: '/opt/rapidconnect/application/run/disabled'
organisations: '/opt/rapidconnect/application/run/fr_org_names.json'
export:
  enabled: false
  secret: 'RHptv0kF!QcrK45MIrWFOxgQmHyaAZHEymm$SZp1KzbrJfAFDGJGKv6bwY#clCy' # This secret MUST be changed to something unique and secure on deployment
mail:
  user_name: 'noreply@example.org'
  password: ''
  from: 'noreply@example.org'
  to: 'support@example.org'
federation: 'test'
