<html>
  <head>

  </head>
  <body>
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/administration">Administration</a></li>
      <li class="breadcrumb-item active">Services</li>
      <li class="ml-auto"><strong><a href="/registration">Register Service</a></strong></li>
    </ul>

    <div class="container">
      <h2>Services</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Audience</th>
            <th>Enabled</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <%- @services.sort_by { |_, v| v.name.downcase }.each do |k, v| -%>
          <tr>
            <td><%= v.name %></td>
            <td><%= v.audience %></td>
            <td><%= v.enabled %></td>
            <td>
              <a href="/administration/services/<%= k %>" class="btn btn-secondary btn-sm">Show</a>
            </td>
          </tr>
        <%- end -%>
        </tbody>
      </table>

    </div>
  </body>
</html>
