<html>
  <head>

  </head>
  <body>
    <ul class="breadcrumb">
      <li class="breadcrumb-item active">Administration</li>
    </ul>

    <div class="container">

    <h2>Administration</h2>

    <p>Actions for administrators of this service are limited given it is quite basic.</p>

    <p>As a current administrator you can:</p>
    <ul>
      <li>
        <a href="/administration/services">List Services</a>
      </li>
      <li>
        <a href="/administration/administrators">List Administrators</a>
      </li>
    </ul>
    </div>
  </body>
</html>
