<html>
  <head>
    <title>AAF Rapid Connect | Developer Documentation</title>
  </head>
  <body>

    <h2>Overview</h2>
    <p>
      The AAF Rapid Connect service allows the AAF to translate SAML assertions which are verified by a standard Shibboleth SP into JSON Web Token (JWT) which is more suitable for use by services with restricted environments or services with no need to access some of the more advanced parts of the AAF offering.
    </p>
    <p>This document describes JWT for developers and the integration code required to use AAF Rapid Connect with their applications.</p>

    <ul class="clean">
      <li><strong>Authors</strong>: Bradley Beddoes and Shaun Mangelsdorf</li>
      <li><strong>Version</strong>: <%= current_version %></li>
    </ul>

    <div class="alert alert-block">
      <p>
        The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL
        NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED",  "MAY", and
        "OPTIONAL" in this document are to be interpreted as described in
        <a href="http://www.ietf.org/rfc/rfc2119.txt">RFC 2119</a>.
      </p>
    </div>

    <hr>

    <%== text %>

  </body>
</html>
