<html>
  <head>
    <title>Welcome to AAF Rapid Connect</title>
  </head>
  <body>

    <div class="hero-unit">
      <center><h1>Welcome to AAF Rapid Connect</h1></center>
    </div>

  </body>
</html>
