<html>
  <head>
    <link href="//cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/application.css" rel="stylesheet">
    <title>Welcome to Tuakiri Rapid Connect</title>
  </head>
  <body class="zero">

    <div id="publicbanner">
      <br>
      <section class="content">
        <div class="container img-rounded">
          <div class="heading">
            <center>
              <h2><img src="rclogo.png" width="80" height="80"> Rapid Connect</h2>
              <br>
              <p>
                Connecting applications to New Zealand Research and Higher Education users
              </p>
            </center>
          </div>
        </div>

      </div>
    </div>

    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-muted">About Rapid Connect</h3>
            <ul>

              <li>Rapid Connect provides an easy way for applications to authenticate users via a signed Json Web Token (JWT)</li>
              <li>There is <strong>no need to install a Shibboleth SP</strong> on your webserver;</li>
              <li>It natively integrates into commonly used development languages;</li>
              <li>PaaS solutions like Heroku, Google App Engine and Pagoda become suitable deployment targets for Tuakiri services;</li>
              <li>Attributes are already defined in logical sets, there is no approval process for attributes; and</li>
              <li>Integration code is <strong>minimal</strong>, simple to write and <strong>easy to test</strong>.</li>
              <li>However, JWT and Rapid Connect originate from before the <a href="https://openid.net/developers/how-connect-works/">OpenID Connect specification</a> was created and adopted.</li>
              <li>For deployment of new applications, please <strong>consider using the <a href="https://docs.tuakiri.ac.nz/tuakiri_openid_connect_bridge">Tuakiri OpenID Connect Bridge</a> instead of Rapid Connect</strong> if possible.</li>
            </ul>
            <br>
            <center>
              <img src="logo.jpg" width="234" height="82">
            </center>
          </div>
          <div class="col-md-4 col-md-offset-2">
            <div class="alert alert-info">
              <h4>Current Release</h4>
              <p>
                Tuakiri Rapid Connect is now available in the <strong><a href="https://rapidconnect.tuakiri.ac.nz/">production</a></strong> and <strong><a href="https://rapidconnect.staging.tuakiri.ac.nz/">test</a></strong> federations.
              </p>
              <p><strong>Deployed version</strong>: <%= current_version %></p>
            </div>
            <center>
              <ul class="clean">
                <li><a href="/developers" class="btn btn-lg btn-success">Get Started!</a></li>
                <li>&nbsp;</li>
                <li><a href="/registration" class="btn btn-lg btn-info">Register a service</a><li>
              </ul>
            </center>
          </div>
        </div>

        <hr>

        <h3 class="text-muted">Example Integration Code</h3>
        <p>Here is the full source (minus the actual HTML) of an <a href="https://github.com/ausaccessfed/rapidconnect-sample-ruby/">application</a> developed in Ruby using the Sinatra framework. It implements all the bits required for using Rapid Connect.</p>
        <script src="https://gist.github.com/bradleybeddoes/6154072.js"></script>

        <br><br>

        <center>
          <ul class="clean">
            <li><a href="/developers" class="btn btn-lg btn-success">Get Started!</a></li>
            <li>&nbsp;</li>
            <li><a href="/registration" class="btn btn-lg btn-info">Register a service</a><li>
          </ul>
        </center>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>
          Rapid Connect <strong>version <%= current_version %></strong>
        </p>
      </div>
    </footer>

    <!--
      _______________________
      < I prefer FUUUUUUUSE >
      -----------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

    -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>

    <script type="text/javascript">
      $( document ).ready(function() {
        $('#publicbanner').backstretch("/background.jpg", {centeredX: true, centeredY: false});
      });
    </script>
  </body>
</html>
